/* Vendor Dependencies */
@import "compass";
@import "compass/utilities/sprites";
@import "singularitygs";
@import "import/normalize"; 
@import "import/flexslider"; 
@import "import/fancybox";

// apply a natural box layout model to all elements
* {
	@include box-sizing(border-box);
}

//	 __  __ _____  _____ _   _ ____  
//	|  \/  |_ _\ \/ /_ _| \ | / ___| 
//	| |\/| || | \  / | ||  \| \___ \ 
//	| |  | || | /  \ | || |\  |___) |
//	|_|  |_|___/_/\_\___|_| \_|____/ 
//  
//	 ~ SCSS mixins and variables ~

//$experimental-support-for-svg: true;
//$grids: 12;
//$gutters: 30/54;
//$max-page-width: 978px;
//$mobile-first: false;

// Web Safe Fonts
$font-arial: Arial, Helvetica, sans-serif;
$font-arial-black: "Arial Black", Gadget, sans-serif;
$font-courier: "Courier New", Courier, Monospace;
$font-georgia: Georgia, serif;
$font-lucida-console: "Lucida Console", Monaco, monospace;
$font-lucida-sans: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-tahoma: Tahoma, Geneva, sans-serif;
$font-times: "Times New Roman", Times, serif;
$font-trebuchet: "Trebuchet MS", Tahoma, Arial, sans-serif;
$font-verdana: Verdana, Geneva, sans-serif;
$font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-baskerville: Baskerville, Palatino, "Palatino Linotype", Georgia, Serif;

// Google Fonts

$font-roboto: 'Roboto Condensed', sans-serif;


.printElement {
	display: none;
}

.offscreen {
	text-indent: -9999em;
	padding: 0;
	background-repeat: no-repeat; 
	background-position: 0 0;
	display: block;
	overflow: hidden;
	list-style: none;
	br {
		display:none;
	}
}

.clearfix {
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.max{
	@include clearfix;
	max-width:972px;
	margin:0 auto;
}

//	 ____    _    ____  _____   ____ _______   ___     _____ ____  
//	| __ )  / \  / ___|| ____| / ___|_   _\ \ / / |   | ____/ ___| 
//	|  _ \ / _ \ \___ \|  _|   \___ \ | |  \ V /| |   |  _| \___ \ 
//	| |_) / ___ \ ___) | |___   ___) || |   | | | |___| |___ ___) |
//	|____/_/   \_\____/|_____| |____/ |_|   |_| |_____|_____|____/ 
//  
//						~ element selectors ~

html {
	
}
body {
	color:#ffffff;
	font-family: $font-arial;

}

a {
	
	&:visited { 
		
	}
	&:hover, &:focus { 
		
	}
	&:active, .current {
		
	}
}

h1, h2, h3, h4, h5, h6 {
	color:#ffffff;
	font-style: italic;
	text-transform: uppercase;
	margin:0;
}
h1 { }
h2 { font-size: 24px;  }
h3 { font-size: 21px; }
h4 { }
h5 { }
h6 { }

td img {
	
max-width: none; // max-width breaks the design when images reside within table cells (try max-width: 100% and see)
}

//	 ____  _____ _____ _   _   _ _   _____   ____ _______   ___     _____ ____  
//	|  _ \| ____|  ___/ \ | | | | | |_   _| / ___|_   _\ \ / / |   | ____/ ___| 
//	| | | |  _| | |_ / _ \| | | | |   | |   \___ \ | |  \ V /| |   |  _| \___ \ 
//	| |_| | |___|  _/ ___ \ |_| | |___| |    ___) || |   | | | |___| |___ ___) |
//	|____/|_____|_|/_/   \_\___/|_____|_|   |____/ |_|   |_| |_____|_____|____/ 
//   
//							  ~ all resolutions ~


.sticky-header-wrap{
	background:#000;
	background: rgba(0,0,0,.5);
	padding:12px 0 10px;
	position:fixed;
	top:0;
	left:0;
	right:0; 
	z-index:9999;
	@include breakpoint(max-width 768px) {
		padding:0;
	}	
	.sticky-header{
		@extend .max;	
		padding:0 24px;	
		@include breakpoint(max-width 768px) {
			padding:0 0 0 12px;
		}
		
	}		
	.logo{
		float: left;
		display: block;
		width:59px;
		img{
			display: block;
		}
		@include breakpoint(max-width 768px) {
			padding:8px 0 0;
		}	
	}
	.tagline-header{		
		float: left;
		text-align: center;
		font-family: $font-georgia; 
		color:#ffffff;
		font-size:14px;
		font-style: italic;
		padding-top: 12px; 
		margin-left: ((183/972) * 100%);
		width:((440/972) * 100%);
		@include breakpoint(max-width 768px) {
			font-size:13px;
			margin-left: 5%;
			width: 60%;
			padding:8px 0 0;
		}
		@include breakpoint(max-width 400px) {
			margin-left: 7px; 
		}
	}
	.social-media{
		float: right;
		padding-top: 12px; 
		ul{
			margin:0;
			padding:0;
			list-style: none;
			li{
				display: block;
				float: left;
				a{
					text-decoration: none;
					text-transform: uppercase;
					color:#ffffff;
					font-size:14px;
					font-weight: bold;
					margin-left: 30px;					
					&:hover, &:focus{
						color:#faae42;						
					}
				}
				&.item-first a{
					margin-left: 0; 
				}
			}
		}
		@include breakpoint(max-width 768px) {
			display: none;
			background:#000;
			background: rgba(0,0,0,.3);
			&.show{
				display: block;
				position: fixed;
				right:0;
				width:48px;
				top:54px;
				ul{
					li{
						float: none;
						a{
							margin:0;
							padding:20px 5px;
							text-align: center;
							display: block;
							&:hover, &:focus{
								background:#000;
								background: rgba(0,0,0,.3);
							}
						}
					}
				}
			}
		}
	}
}

.btn-social-media{
	display: none;
	@include breakpoint(max-width 768px) {
		display: block;
		float: right;
		padding:15px;
		&:hover, &:focus{
			background:#000;
			background: rgba(0,0,0,.3);
		}		
	}
}

.cta-container{
	background:url(../images/bg-body.png)  center center no-repeat;	
	background-size: cover;	
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index:0;
	@include breakpoint(max-width 768px) {
		position:static;
	}
}

.cta-wrap{
	background:url(../images/cta-bg.png)  center top repeat-x;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;	
	z-index:1;
	@include breakpoint(max-width 768px) {
		position:relative; 
	}	
	.cta{
		@extend .max;
		text-align: center;
		display:table; 
		height:100%;
		@include breakpoint(max-width 768px) {
			display: block;
		}
		.cta-middle{
			display:table-cell;  
			text-align: center;
   			vertical-align: middle;
   			@include breakpoint(max-width 768px) {
				display: block;
			}
		}
		.summeranza-logo{
			display: block;
			margin:0 auto 30px;
			@include breakpoint(max-width 768px) {
				margin-top: 100px; 
			}
		}
		.summeranza-date{
			color:#ffffff;
			font-size:24px;
			font-style: italic;
			font-family: $font-georgia; 
			span{
				display: block;
				font-size: 17px; 
			}
		}
		.video-link{
			text-decoration: none;
			color:#fff;
			font-size:15px;
			display: block;			
			margin:40px 0 40px;
			background:url(../images/bg-play-button.png) no-repeat top center;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
			padding-top: 80px; 
			&:hover, &:focus{
				text-decoration: underline; 
				background:url(../images/btn-video-hover.png) no-repeat top center;
			}
		}
		.get-ticket-button{
			display: inline-block;
			text-decoration: none;
			color:#ffffff;
			border:1px solid #fff;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold;
			padding:12px 30px 12px 54px;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
			background:url(../images/bg-getticket.png) no-repeat 18px 11px rgba(255, 255, 255, 0);
			&:hover, &:focus{
				background:url(../images/bg-getticket.png) no-repeat 18px 11px rgba(255, 255, 255, 0.5);
			}
		}
		.down-arrow{
			width: 20px;
			position: absolute;
			bottom: 50px;
			left: 50%;
			margin-left: -10px; 
			@include breakpoint(max-width 768px) {
				position: static;
				clear: both;
				display: block;
				margin: 20px auto;				
			}
		}
	}		
}


.camp-desc-container{ 
	background:url(../images/main-ccnt-bg.png) repeat-x center top;	
	position:absolute; 
	top: 100%; 
	left: 0; 
	right: 0;	
	@include breakpoint(max-width 768px) {
		position: relative;
	}
	.cloud-wrap{
		background: url(../images/bg-footer-wrap.png) no-repeat top center;
		background-size:100%;
	}
	.camp-desc{
		@extend .max;
		text-align: center; 
		padding:100px 0 0;
		.content{
			padding:20px ((105/978) * 100%) 45px;
			font-style: italic;
			font-size: 16px;
			font-family: $font-georgia; 
		}
		.promo-cd{
			@include clearfix;
			width:270px;
			margin:0 auto;
			span{
				display: block;
				float: left;
				color:#c1cd38;
				text-transform: uppercase;
				font-size: 60px;
				font-style: italic;
				font-family: $font-georgia; 
				margin:0 10px; 
				span{
					float: none;
					font-style: normal;
					font-size:14px;
					font-family: $font-arial;
					margin:0; 
				}
			}
			.untill{
				color:#c1cd38;
				font-size: 18px;
				font-style: italic; 
				font-family: $font-georgia; 
				clear: both;
				padding:14px 0 65px;
			}			
		}
		.lineup-content{
			font-size: 16px;
			font-style: italic; 
			font-family: $font-georgia; 
			padding:20px 0 0;
		}
		.artist-container{
			width:100%;
			margin:30px 0 0;
			height:395px;
			.slides{
				margin:0;
				padding:0;
				list-style: none;	
			}
			.artist{
				width:((195/978)* 100%);
				float: left;
				position: relative;	
				&:hover, &:focus{
					opacity:0.6;
				}			
				img{
					display: block;
					width:100%;			
				}	
				@include breakpoint(max-width 520px) {
					width:auto;
				}
				.artist-content{
					position: absolute;	
					top:150px;
					text-align: center;
					width:100%;
					padding:0;
					font-style: italic;
					
					.year{						
						font-size: 30px; 
						font-family: $font-georgia; 
						span{
							display: block;
							font-size: 14px; 
						}
					}
					.artist-name{
						font-size: 24px;
						font-weight: bold; 
						line-height: 1.2;
						margin-top: 20px; 
						&.que{
							font-size:64px;
							margin-top: 10px;
							line-height: 1;  
						}
					}					 
				}				
			}
		}
	}
}

.infographics-wrap{
	z-index: 1;
	position: relative;	
	.infographics-heading{
		font-style: italic;
		font-size: 16px; 
		text-align: center;
		font-family: $font-georgia; 
		padding: 65px 0; 	
		span{
			text-transform: uppercase;
			font-weight: bold;
			font-size: 24px;
			display: block;
			font-family: $font-arial;
		}
	}
	.infographics{
		@extend .max;
		padding: 0 ((78/972) * 100%);
		margin:0 auto 58px;
		position: relative;
		overflow: hidden;
		background: url(../images/bg-footer-wrap.png) no-repeat top center;
		background-size:100%;
		@include breakpoint(max-width 768px) {
			padding:0 10px;
		}		
		.soccer-fields{
			width:50%;
			padding:0 25px 20px 0; 
			float: left;
			border-right: 1px solid #ff7aac; 
			margin-bottom: 43px; 
			height:250px;
			position: relative;
			.soccer-fieldheading{
				text-align: center;
				font-size: 25px; 
				font-family: $font-roboto;
				text-transform: uppercase;
				padding-bottom: 30px;  
			}
			img{
				display: block;
				max-width:100%;
				float: left;
				height:auto;
			}
			hr{
				border: none;
				border-bottom: 1px solid #ddd;
				color: #ccc;
				width: 40%;
				display: inline-block;
				clear: none;
				margin: 10px 0;
			}
			span{
				display: inline-block;
				padding:0 5px; 
				font-size: 31px;
				line-height: 1; 
				font-style: italic;
				font-family: $font-georgia; 
			}
			.soccer{
				font-size: 31px;
				line-height: 1; 
				font-style: italic;
				font-family: $font-georgia; 
				text-align: center;
				padding-right: 25px; 
			}
			@include breakpoint(max-width 768px) {
				width: 310px;
				margin: 0 auto 80px;
				float: none;
				padding:0;
				border: 0;
				height:auto;
				.soccer-fieldheading{
					font-size: 22px; 
				} 	
				&:before{
					content: "";
					position: absolute;
					right: -100%;
					left: -100%;
					bottom: -43px;
					border-top: 1px solid #ff7aac;
				}				
			}
		}
		.fair-rider{
			width:50%;
			float: right;
			padding-left: 34px;
			position: relative;	
			margin-bottom: 43px; 
			height:250px;		
			.fair-rider-heading{
				text-align: center;
				font-size: 25px; 
				font-family: $font-roboto;
				text-transform: uppercase;
				padding-bottom: 25px; 
			} 
			img{
				display: block;
				max-width:100%;
				height: auto;
			}
			.number10{
				position: absolute;
				bottom: 68px; 
				left:55px;
				font-family: $font-roboto;
				font-size: 100px;
				line-height: 0.8;  
				@include breakpoint(max-width 768px) {
					bottom:0;
				}
			}
			@include breakpoint(max-width 768px) {
				width: 310px;
				margin: 0 auto 80px;
				float: none;
				padding:0;
				border: 0; 	
				height:auto;	
				.fair-rider-heading{
					font-size: 22px; 
				}	
				&:before{
					content: "";
					position: absolute;
					right: -100%;
					left: -100%;
					bottom: -43px;
					border-bottom: 1px solid #ff7aac;
				}	
				.number10{
					left: 15px; 
				}
			}
		}
		.big-beb{
			clear: both;
			width:50%;
			float: left;
			margin-top: 50px; 
			border-right: 1px solid #ff7aac; 
			position:relative;
			margin-top: 43px;
			&:before{
				content:"";
				position:absolute;
				left:0;
				right:40px;
				top:-43px;
				border-top: 1px solid #ff7aac; 
			} 
			img{
				float: left;
				display: block;
				margin: 0 20px 0 35px;
				@include breakpoint(max-width 830px) {
					max-width:100%;
					margin-left: 0; 
				}
			} 
			.big-beb-heading{
				border-left: 1px solid #fff;
				font-size: 25px; 
				float: left;
				font-family: $font-roboto;
				text-transform: uppercase;
				height: 219px; 
				padding:45px 0 0 15px; 
				line-height: 1; 
				span{
					display: block;
				} 
			}
			@include breakpoint(max-width 768px) {
				width: 310px;
				margin: 0 auto 80px;
				float: none;
				padding:0;
				border: 0; 	
				height:auto;	
				overflow:hidden;
				.big-beb-heading{
					font-size: 22px; 
				}	
				&:before{
					display: none;
				}		
			}
		}
		.glasses{
			float: right;
			width:50%;
			padding: 0 0 0 27px; 
			position:relative;
			margin-top: 43px;
			&:before{
				content:"";
				position:absolute;
				right:0;
				left:40px;
				top:-43px;
				border-top: 1px solid #ff7aac; 
			} 
			img{
				display: block;
				max-width:100%;
				height:auto;
				margin-bottom: 25px; 
			}
			hr{
				border: none;
				border-bottom: 1px solid #ddd;
				color: #ccc;
				width: 35%;
				display: inline-block;
				clear: none;
				margin: 6px 0;
			}
			span{
				display: inline-block;
				padding:0 10px; 
				font-size: 31px;
				line-height: 1; 
				font-family: $font-georgia; 
			}
			.glasses-heading{
				text-align: center;
				font-size: 25px; 
				font-family: $font-roboto;
				text-transform: uppercase;
				padding-top: 10px; 
			}
			@include breakpoint(max-width 768px) {
				width: 310px;
				margin: 0 auto;
				float: none;
				padding: 0;
				border: 0; 	
				.glasses-heading{
					font-size: 22px; 
				}
				&:before{
					content: "";
					position: absolute;
					right: -100%;
					left: -100%;
					top: -43px;
					border-top: 1px solid #ff7aac;
				}
				span{
					font-size:26px;
				}				
			}
		}
	}
}


.gallery-wrap{
	.gallery{
		.summeranza-instagram{
			color: #010101;
			font-size: 34px;
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 99;  
			text-transform: uppercase;
			background:#ffffff;
			font-family: $font-roboto;
			width:322px;
			text-align: center;
			margin-left:  -161px;
			margin-top: -34px;
			font-weight: bold;
			padding:16px 0;
		}
	}
}

.map-pointers-wrap{	
	background: url(../images/bg-map-pointers.png) repeat-x bottom center;
	background-size:  100%;
	@include breakpoint(max-width 768px) {
		background-size: auto; 
	}
	.map-pointers{
		@extend .max;
		max-width: 924px; 
		height:526px;
		padding:85px 0 65px;
		span{
			display: block;
			float: left;
			position:relative;
			color:#ffffff; 
			font-size:18px;
			font-style: italic;
			text-transform: uppercase;
			text-align: center;
			&:before{
				content:"";
				position: absolute;
				left:50%;
				height:210px;
				width:1px;
				background:  #fff;
				background:rgba(255,255,255,0.5);
				top:30px; 
			}
			@include breakpoint(max-width 850px) {
				font-size:16px;
			}
			@include breakpoint(max-width 768px) {
				font-size:14px;
			}
			@include breakpoint(max-width 620px) {
				font-size:12px;
			}
			&.food{
				margin:90px 0 0 40px; 
				&:before{
					height:250px;
				}
				@include breakpoint(max-width 850px) {
					margin:90px 0 0 0; 
				}
			}
			&.vip{
				margin: 125px 0 0 -15px; 
				@include breakpoint(max-width 400px) {
					margin-left: -30px; 
				}
			}

			&.main{
				&:before{
					height:315px;
				}
				@include breakpoint(max-width 400px) {
					margin-left: -30px; 
				}	
			}
			&.djs{
				margin: 35px 0 0 -30px; 
				&:before{
					top:50px;
					height:250px
				}
				@include breakpoint(max-width 520px) {
					display: none;
				}
			}
			&.karoke{
				margin: 170px 0 0 0; 
				&:before{					
					height:150px
				}
				@include breakpoint(max-width 540px) {
					display: none;
				}
			}
			&.bumper{
				margin: 85px 0 0 0; 
				&:before{
					height:260px;
				}
				@include breakpoint(max-width 400px) {
					margin-left: -30px; 
				}

			}				
			&.roller{
				margin-top: 29px;
				&:before{
					height:306px;
				}
				@include breakpoint(max-width 400px) {
					margin-left: -30px; 
				}
			}
		}
	}
}


.get-ticket-wrap{
	background:url(../images/bg-getticket.jpg) repeat-x top center ;
	background-size:cover; 	
	padding:65px 0 225px;
	.get-ticket{
		@extend .max;
		.get-tcket-heading{
			text-align: center;
			text-transform: uppercase;
			font-size: 24px;
			font-style: italic;
			span{
				display: block;
				text-transform: none;
				font-weight: normal;
				font-size: 16px; 
			} 
		}
		.thingstodo-wrap{
			width:100%;
			margin-top: 55px; 
			.thingstodo{
				width:((132/972) * 100%);
				margin-left: ((24/972) * 100%);
				float: left;
				text-align: center; 
				color:#ffffff;
				font-size:14px;
				font-family: $font-georgia; 
				font-style: italic;
				padding-top: 104px; 
				&.entrance{
					background:url(../images/bg-entrance.png) no-repeat top center; 
				}
				&.fun-fair{
					background:url(../images/bg-fair.png) no-repeat top center; 
				}
				&.face-painting{
					background:url(../images/bg-mic.png) no-repeat top center; 
				}
				&.food-drinks{
					background:url(../images/bg-food.png) no-repeat top center; 
				}
				&.sunglasses{
					background:url(../images/bg-sunglasses.png) no-repeat top center; 
				}
				&.roundtrip{
					background:url(../images/bg-roundtrip.png) no-repeat top center; 
				}
				@include breakpoint(max-width 768px) {
					width:30%;
					height:195px;
					margin:0;
					padding:104px 5% 0;
				}
				@include breakpoint(max-width 520px) {
					width:50%;
					height:175px;
				}
			}
		}
	}
}

.footer-wrap{
	background:#0c749d;
	@include background-image(linear-gradient(top, #0c749d 0%,#12587d 50%,#1e3554 100%));
	position: relative;
	width: 100%;
	float: left; 
	padding-bottom: 300px; 
	.footer-cloud{
		background:url(../images/bg-footer-wrap.png) no-repeat center top;
		background-size: 100%;
		width: 100%;
	float: left; 
	}	
	.registration{
		text-align: center;
		padding-bottom: 60px;	
		margin-top: -70px;			
	}
	.footer{
		@extend .max;
		position: relative;
		z-index:99;
		.footer-logo{
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			padding: 32px 0;
			text-align: right;
			img{
				max-width:100%;
			}
		}
		.footer-links{
			overflow: hidden;
			list-style: none;
			padding: 8px 0;
			margin: 0;
			li{
				display: inline;
				margin: 0 10px 0 0;				
				a{
					color: #fff;
					font-size: 14px;
					cursor: pointer;
					text-decoration: none;
					&:hover, &:focus{
						text-decoration: underline;
					}
				}
			}
		}
	}
}












